{% set people_background = fn('get_field', 'background') %}
{% set people_background_image_id = fn('get_field', 'background_image') %}
{% set people_background_image = Image(people_background_image_id) %}
{% set people_title = fn('get_field', 'title') %}
{% set people_people = fn('get_field', 'people') %}
{% set people_linkedin = fn('get_field', 'linkedin') %}
{% set linkedinIcon = fn('get_field', 'display_linkedin_icon') %}
{% set linkedinText = fn('get_field', 'display_linkedin_text') %}
{% set carouselSpeed = fn('get_field', 'carousel_speed') > 0 ? fn('get_field', 'carousel_speed') * 1000 : 3000 %}

<section class="people" style="background: {{ people_background }}; color: {{ people_background | contrast_color }}">

	<img class="background" src="{{ people_background_image.src }}" alt="{{ people_background_image.alt }}">


	<div class="wrapper">
		<div class="heading"> {{ people_title }}
		</div>

		<div class="people-container" data-slick='{"autoplaySpeed": {{ carouselSpeed }}}'>
			{% for index, item in people_people %}
				<div class="person">
					<div class="image">
						<img width="{{ item.image.width }}" height="{{ item.image.height }}" src="{{ item.image.url }}" alt="{{ item.image.alt }}">
					</div>
					<div class="name"> {{ item.name }}
					</div>
					<div class="title"> {{ item.title }}
					</div>
					{% if item.linkedin %}
						<a class="linkedin" href="{{ item.linkedin }}">
							<?xml version="1.0"?>
							<?xml version="1.0"?>
							<svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="20px" height="20px">
								<path d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95 v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719 C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517 c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533 c2.987,0,3.539,1.966,3.539,4.522V22z"/></svg>
						</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</section>
